/* Reuse styles from Login.css*/
@import './Login.css';

.login-form label {
  margin-top: 10px;
}

.login-form input {
  margin-bottom: 10px;
}

.login-link {
  color: blue; 
  cursor: pointer; 
  text-decoration: underline;
}

.login-link:hover {
  color: darkblue; 
}