.header-bar {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #044573;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start; 
}

.header-logo {
  width: 40px; 
  margin-right: 10px;
}

.header-bar h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left; 
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.menu-list li {
  display: inline;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.details-section {
  margin: 20px;
  text-align: center;
}

.info-section h2 {
  margin-top: 70px; 
  text-align: center;
  font-size: 30px;
}

.person-container h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.person-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.person-container .person-info {
  flex: 1;
  margin-left: 100px;
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 20px;
}

.person-container .person-image {
  max-width: 150px;
  display: flex;
  margin-left: 15px;
}

.person-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
}

.person-container h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.person-container p {
  font-size: 16px;
  color: #555;
}
