.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: inherit;
}

.header-bar {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #044573;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start; 
}

.header-logo {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.header-bar h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left; 
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.menu-list li {
  display: inline;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.picture-container {
  position: relative;
  text-align: center;
}

.lake-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #90c89b9f;
  padding: 10px 30px;
  border-radius: 15px; 
}

.info-section h2 {
  margin-top: 70px; 
  text-align: center;
  font-size: 30px;
}

.start-button {
  background-color: #00509e;
  color: white;
  padding: 10px 20px;
  border-radius: 15px; 
  cursor: pointer;
}

.contact-us {
  padding: 20px;
  background-color: #dee8f1;
  text-align: center;
}

.contact-icons {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 15px;
  margin-top: 15px; 
}

.contact-icons i {
  font-size: 30px; 
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease; 
  cursor: pointer; 
}

.contact-icons i:hover {
  color: #0d3c6e; 
  transform: scale(1.2); 
}

.info-container {
  padding: 20px;
  background-color: #dee8f1;
  text-align: center;
}

/* Footer section */
.footer {
  margin-top: auto; /* Pushes footer to the bottom */
  text-align: center;
  width: 100%; /* Full width */
}

.footer-image {
  width: 100%;
  height: auto;
  display: block; /* Ensure it's displayed as a block element */
}
