.main-page {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}
.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}
.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  color: #fff;
  width: 300px;
  padding-left: 20px;
  height: 100vh;
  background-color: #044573; /* Solid background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
}

.sidebar-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 60px;
  margin-right: 10px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
}

.parameter-list label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.map-container {
  flex: 1;
}