.main-page {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-bar {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #044573;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start; 
}

.header-logo {
  width: 40px; 
  margin-right: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}
.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}
.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 25%;
  background: rgba(230, 238, 244, 0.8); 
  backdrop-filter: blur(10px);
  padding: 20px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.parameter-list label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.map-container {
  height: 100%;
  position: relative;
}