.main-page {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}
.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}
.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  color: #fff;
  overflow-y: auto;
  width: 300px;
  padding-left: 20px;
  height: 100vh;
  background-color: #044573; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.sidebar-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 60px;
  margin-right: 10px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
}

.parameter-list label {
  display: flex;
  align-items: center; 
  font-size: 16px; 
  margin-bottom: 10px; 
  cursor: pointer;
}

.map-container {
  flex: 1;
}

/* Action Plan Container */
.action-plan-container {
  position: relative;
  margin-top: 5px;
  width: 100%; 
  display: flex;
  justify-content: center; 
}

/* Action Plan */
.action-plan {
  width: 240px; 
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: -20px; 
}

.action-plan h5 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.action-plan ul {
  margin: 0;
  padding: 0;
  list-style: inside disc;
}

.action-plan ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

/* Checkbox style to*/
input[type="checkbox"] {
  display: inline-block; 
  width: 20px; 
  height: 20px;
  appearance: none;
  border: 2px solid #044573; 
  border-radius: 3px; 
  background-color: #fff; 
  cursor: pointer; 
  position: relative;
  margin-right: 10px; 
}

/* Checkbox fill (Yung loob ng checkbox) */
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  width: 12px;
  height: 12px;
  background-color: #044573;
  transition: 120ms transform ease-in-out, 120ms background-color ease-in-out;
  border-radius: 2px; 
}

/*Enlargement of fill*/
input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #032c4e; 
}

input[type="checkbox"]:hover {
  border-color: #032c4e; 
}

/* Mapbox Legend Container */
.mapbox-legend {
  position: absolute;
  bottom: 20px; /* Adjust placement */
  right: 20px; /* Adjust placement */
  z-index: 1;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Legend Title */
.mapbox-legend h5 {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333;
}

/* Legend Items */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend-item:last-child {
  margin-bottom: 0;
}

/* Legend Colors */
.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
