
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header-bar {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #044573;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start; 
}

.header-logo {
  width: 40px; 
  margin-right: 10px;
}

.header-bar h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left; 
}

.header-bar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #044573;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  margin: 0; 
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px; 
  background-color: #044573; 
  max-width: 100%; 
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex: 1;
}

.login-section {
  background-color: #C9E0EB;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  background-color: #e1ebf5;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #88aadd;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.user-icon {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form label {
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 2px;
  display: block;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #004080;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.forgot-password {
  margin-top: 1px;
  margin-left: 200px;
  font-size: 10px;
  color: #004080;
}

.signup-text {
  font-size: 12px; 
  color: #333;
  text-align: center;
  margin-top: 12px;
}

.signup-link {
  color: #0066cc; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.signup-link:hover {
  color: #004a99; 
}

.login-text {
  font-size: 12px; 
  color: #333;
  text-align: center;
  margin-top: 12px;
}

.login-link {
  color: #0066cc; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px; 
}

.login-link:hover {
  color: #004a99; 
}

.info-section {
  flex: 1;
  background-color: #DEE8F1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; 
}

.info-section h2 {
  margin-top: 70px; 
  text-align: center;
  font-size: 30px;
}

.illustration {
  margin-top: auto; 
  width: 100%;     
}

.illustration img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #dce9f7;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: inherit;
}


.header-logo {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.picture-container {
  position: relative;
  text-align: center;
}

.lake-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #90c89b9f;
  padding: 10px 30px;
  border-radius: 15px; 
}

.start-button {
  background-color: #00509e;
  color: white;
  padding: 10px 20px;
  border-radius: 15px; 
  cursor: pointer;
}

.contact-us {
  padding: 20px;
  background-color: #dce9f7;
  text-align: center;
}


.contact-icons {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 15px;
  margin-top: 15px; 
}

.contact-icons i {
  font-size: 30px; 
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease; 
  cursor: pointer; 
}

.contact-icons i:hover {
  color: #007bff; 
  transform: scale(1.2); 
}

.info-container {
  padding: 20px;
  text-align: center;
}


.header-logo {
  width: 40px;
  margin-right: 10px;
}

.line {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.menu {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.menu-list {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.menu-list li {
  display: inline;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.menu.active {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  background-color:#044573;
  width: 100%;
  padding: 10px;
}

.menu-list {
  display: block;
}

.main-page {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.main-content {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 25%;
  background: rgba(230, 238, 244, 0.8); 
  backdrop-filter: blur(10px);
  padding: 20px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.parameter-list label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.notices {
  margin-top: 20px;
  font-size: 14px;
}

.notice-item details {
  background-color: rgba(217, 242, 217, 0.8); 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-section {
  flex: 1;
  position: relative;
  overflow: hidden; 
}

.map-container {
  height: 100%;
  position: relative;
}


.bloom-coverage {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: rgba(0, 150, 136, 0.6); 
  color: #fff;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.map-container::after {
  content: '';
  position: absolute;
  bottom: -50px; 
  left: 0;
  width: 100%;
  height: 150px;
  /*background-image: url('path-to-map-image.png'); */
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  transform: scaleY(-1); 
  opacity: 0.3; 
}

.details-section {
  margin: 20px;
  text-align: center;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.person-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.person-container .person-info {
  flex: 1;
  margin-left: 100px;
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 20px;
}

.person-container .person-image {
  max-width: 150px;
  display: flex;
  margin-left: 15px;
}

.person-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
}

.person-container h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.person-container p {
  font-size: 16px;
  color: #555;
}

.main-content1 {
  display: flex;
  flex-direction: row;
}

.model-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.map-container {
  position: relative;
  width: 100%;
  height: 500px; /* Set an explicit height for the map */
}

.center-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 1; /* Ensure button is above the map */
}

.station-marker {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}

